.operList {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
}

.operList::after {
    content: " ";
    clear: both;
    display: block;
}

.operItem {
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-weight: 100;
    float: left;
    margin: 4px 4px 4px 0px;
    cursor: pointer;
    min-width: 28px;
}


.operItem:hover {
    font-weight: bold;
}

.normal {
    font-size: 16px;
    font-weight: 100;
}

.H1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0PX;
}

.H2 {
    font-size: 24px;
    font-weight: bold;
}


.HChoose {
    font-weight: bold;
    color: #1e88e5
}

#realDiv {
    border-top: 1px solid #eee;
    padding-top: 8px;
}


.a a,
a {
    text-decoration: none;
}

.img img,
img {
    width: 100%;
}

.em {
    font-style: oblique
}

.strong {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.linethrough {
    text-decoration: line-through;
}

.divide {
    display: block;
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 4px 0px;
}